{% extends 'base.html' %} {% block title %}내가 찍은 사진{% endblock %} {% block contents %}
<!--===== 내가 찍은 사진 PORTFOLIO =====-->
<section class="portfolio section" id="portfolio">
    <h2 class="section-title">My Pictures</h2>
    <h5 style="text-align: center;">사진에 커서를 올리고 위치를 클릭해보세요!</h5>
    <div class="portfolio__container bd-grid">
        {% for picture in pictures%}
        <div class="portfolio__img">
            <img src="{{picture.image.url}}">

            <div class="portfolio__link">
                <a href="{{picture.link}}" class="portfolio__link-name">위치</a>
            </div>
        </div>
        {%endfor%}
    </div>
</section>
{%endblock%}